@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}

#press {
    font-family: 'Press Start 2P', cursive;
    color: orange;
}

body {
    background: url(/IMG/902988.jpg); 
}

.navbar {
    background-color: black; 
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 20px;
    color: white;
}

.navbar-items {
    list-style: none;
    display: flex;
}

.navbar-items li {
    display: inline-block;
    margin: 0 10px;
    font-size: 26px;
    color: white;

}

#logo {
    margin: 15%; /** Considero que esta propiedad quizá no sea la mejor para alinear esta imagen al centro **/
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
 }

.text {
    border: 1px solid white; 
    width: 50%;
    height: 50%;
    padding: 20px;
    background-color: white;
}

footer {
    background-color: black;
}