:root {
  --mainColor: rgb(21, 30, 31);
  --mainColor2: rgb(27, 36, 37);
  --mainColorOpacity: rgba(15, 24, 25, 0.75);
  --linkColor: rgb(233, 65, 51);
  --inputColor: rgb(56, 182, 255);
  --linkColorHover: rgb(200, 45, 41);
  --darkColor: rgb(0, 0, 0);
  --darkAlphaColor: rgba(0, 0, 0, 0.6);
  --boxColor: rgb(15, 24, 25);
  --ligthColor: rgb(255, 255, 255);
  --img: url("../IMG/902988.jpg");
}
html {
  font-size: 16px;
  color: var(--ligthColor);
}
body {
  background-color: var(--mainColor);
}
/* Utilities */
.section {
  width: 100%;
  height: 100vh;
}
.article {
  max-width: 1200px;
  display: grid;
  place-items: center;
  height: 100%;
  margin: 0% auto;
}
/* web */
.header {
  width: 100%;
  height: 100vh;
  background-image: var(--img);
  background-attachment: fixed;
}
.opacity {
  width: 100%;
  height: 100vh;
  background-color: var(--darkAlphaColor);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.title .h1 {
  font-family: "Bungee Outline", cursiva;
  font-size: 5rem;
  font-weight: 700;
  text-shadow: 1px 1px 20px rgba(255, 255, 255, 0.7);
  margin: 0% auto;
  display: inline;
}
.logo {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 27rem;
  height: auto;
}
.btn {
  width: 100%;
  max-width: 1200px;
  height: 4rem;
  margin-top: 4.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn button {
  width: 10rem;
  height: 2.8rem;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 20px 0px 15px 20px;
  background-color: rgb(255, 0, 0);
  color: var(--ligthColor);
  box-shadow: 0.1em 0.1em var(--ligthColor);
}
.btn button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em var(--ligthColor);
}
.btn button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em var(--ligthColor);
}
.btn .Desc {
  font-size: 1.5rem;
  font-family: "Bungee Outline", cursiva;
  text-shadow: 1px 1px 20px rgba(255, 255, 255, 0.7);
}
hr {
  width: 100%;
  max-width: 1200px;
  border: 1px solid rgb(255, 0, 0);
  margin-bottom: 0;
}
.menu {
  height: 4rem;
  width: 100%;
  background-color: var(--mainColorOpacity);
  margin: 0;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.link {
  text-align: center;
  display: block;
  padding: 1rem;
  color: var(--ligthColor);
}
.link a {
  text-decoration: none;
  color: var(--ligthColor);
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10px;
  background-color: var(--mainColor2);
  border-radius: 20px;
  border: 1px solid var(--darkColor);
  transform: translate(0% 0%);
}
.card:hover {
  transform: translate(0%, -10%);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.card__button .button {
  width: 100px;
  height: 30px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 0.9em;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
}

.card__button .button:hover {
  background: #315cfd;
  color: white;
  font-size: 1.2em;
}
