<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NexusGaming Shop</title>
    <link rel="stylesheet" href="CSS/estilos.css" />
  </head>
  <body>
    <nav>
      <ul class="navbar-items">
        <li>Nosotros |</li>
        <li>Contactos |</li>
        <li>Menú |</li>
        <li>Registrate |</li>
        <li>Iniciar sesión |</li>
        <li>Carrito</li>
      </ul>
    </nav>

    <h1>Nosotros</h1>
    <hr />

    <div class="container">
      <div class="left">
        left
        <img
          id="logo"
          src="/IMG/red_oni_mask_vector_illustration-removebg-preview.png"
          alt="NexusGaming Diablito"
        />
      </div>

      <div class="right">
        <div class="text">
          <h3>Nuestra historia</h3>
          <p>
            NexusGaming nace de una sencilla idea: Satisfacer la demanda de
            tarjetas gráficas en el mercado
          </p>
        </div>
      </div>
    </div>

    <footer>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi placeat
        laudantium enim sequi adipisci amet incidunt cupiditate, ipsa error
        harum rerum dolorem, saepe odio animi, voluptas libero. Sit nam suscipit
        quaerat adipisci iusto vel, omnis quae, distinctio incidunt, saepe unde
        eum illo consequuntur provident veniam commodi! Asperiores, mollitia
        fugiat? Quam, hic qui? Ratione dignissimos quas beatae, incidunt rem ea
        maxime expedita eius recusandae, neque quia. Earum, voluptatibus
        possimus nemo iste veritatis necessitatibus sequi autem provident cumque
        ratione aspernatur ad repellendus dolor expedita perferendis doloremque
        architecto ipsa sint accusamus corporis. Beatae error libero
        exercitationem! Maxime unde architecto excepturi veniam incidunt cum
        aliquid deserunt vel quis, ad doloremque temporibus facilis, aspernatur
        nesciunt eveniet recusandae, molestiae voluptatum totam! Libero fugit
        repudiandae nostrum consequuntur iure, at animi dolore ea
        exercitationem, assumenda accusamus. Neque fugiat culpa laboriosam,
        architecto itaque magni ut veritatis corrupti, amet molestiae minus
        perspiciatis unde non, labore eius id vel? Incidunt quos quo suscipit ex
        odit? Temporibus fuga quas commodi nemo non quos incidunt explicabo,
        delectus rem ad officia eos odio facere vero sint dolorem in reiciendis
        aperiam architecto consequuntur? Neque quo iure voluptatibus, minus
        numquam, ut similique nisi magnam quam quisquam corporis eligendi,
        provident perspiciatis consequuntur harum odit aspernatur ab est. Nemo
        possimus odio nam voluptate quaerat, suscipit dignissimos temporibus
        distinctio unde ducimus, reprehenderit sit earum corrupti cupiditate qui
        similique, aut ipsam at! Magni est harum iure accusantium omnis esse ad
        aut! Minus tempora aut quia placeat, nihil voluptates fuga adipisci.
      </p>
    </footer>
  </body>
</html>
