<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../CSS/home.css" />
    <link rel="stylesheet" href="../CSS/normalizar.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Saira+Condensed:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>

  <body>
    <header class="header">
      <div class="opacity">
        <div class="container">
          <div class="title">
            <h1 class="h1">NEXUS GAMING</h1>
          </div>
          <div class="logo">
            <img
              src="../IMG/red_oni_mask_vector_illustration-removebg-preview.png "
              alt="Logo-empresa"
            />
          </div>
          <div class="btn">
            <h3 class="Desc">E-comerce de Tarejtas graficas</h3>
            <button class="button">Conoce mas</button>
          </div>
          <hr />
        </div>
      </div>
    </header>
    <section class="section">
      <nav class="menu">
        <ul class="links">
          <li class="link"><a href="#">Sobre nosotros</a></li>
          <li class="link"><a href="#">Contactos</a></li>
          <li class="link"><a href="#">Carrito</a></li>
          <li class="link"><a href="#">Iniciar sesión</a></li>
          <li class="link"><a href="#">Registrarse</a></li>
        </ul>
      </nav>
      <div class="article">
        <div class="cards">
          <div class="card">
            <div class="card__img">
              <img src="..." alt="..." />
            </div>
            <div class="card__title"><h2>Title card</h2></div>
            <div class="card__description">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi
              velit iusto quia, voluptatem, nemo ad rem odio corporis odit
              officiis fuga accusantium nisi. Cumque fuga adipisci voluptatem!
              Vitae, accusamus ex!
            </div>
            <div class="card__button">
              <button class="button">mas</button>
            </div>
          </div>
          <div class="card">
            <div class="card__img">
              <img src="..." alt="..." />
            </div>
            <div class="card__title"><h2>Title card</h2></div>
            <div class="card__description">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi
              velit iusto quia, voluptatem, nemo ad rem odio corporis odit
              officiis fuga accusantium nisi. Cumque fuga adipisci voluptatem!
              Vitae, accusamus ex!
            </div>
            <div class="card__button">
              <button class="button">mas</button>
            </div>
          </div>
          <div class="card">
            <div class="card__img">
              <img src="..." alt="..." />
            </div>
            <div class="card__title"><h2>Title card</h2></div>
            <div class="card__description">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi
              velit iusto quia, voluptatem, nemo ad rem odio corporis odit
              officiis fuga accusantium nisi. Cumque fuga adipisci voluptatem!
              Vitae, accusamus ex!
            </div>
            <div class="card__button">
              <button class="button">mas</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer"></footer>
  </body>
</html>
